<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <style>
        input { display: block; }
        ul { list-stlye: none; }

  </style>
</head>
<body>
<ul id="messages"></ul>
Chat app using WebSocket
<form id="chatbox">
  {{.UserData.name}}:<br/>
  <textarea></textarea>
  <input type="submit" id="submit_btn" value="Send"/>
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
        $(function() {
            var socket = null;
            var msgBox = $("#chatbox textarea");
            var messages = $("#messages");

            $("#test_btn").click(function() {
                console.log("test");
            });

            $("#submit_btn").click(function() {
                console.log("submit");
                if (!msgBox.val()) {
                    return false;
                }

                if (!socket) {
                    alert("No connection");
                    return false;
                }

                socket.send(JSON.stringify(
                    {
                        "Message": msgBox.val()
                    }
                ));
                msgBox.val("");
                return false;
            });

            if (!window["WebSocket"]) {
                alert("This browser is not support WebSocket.");
            } else {
                console.log("init");
                socket = new WebSocket("ws://{{.Host}}/room");

                socket.onclose = function() {
                    alert("disconnected");
                }

                socket.onmessage = function(e) {
                    var msg = JSON.parse(e.data)
                    var date = new Date(msg.CreatedAt * 1000)

                    messages.append(
                        $("<li>").append(
                            $("<strong>").text(msg.Name + ": "),
                            $("<span>").text(msg.Message + "(" + formatDate(date, "YYYY-MM-DD hh:mm") + ")")

                        )
                    );
                }
            }

        });


        var formatDate = function (date, format) {
          if (!format) format = 'YYYY-MM-DD hh:mm:ss.SSS';
          format = format.replace(/YYYY/g, date.getFullYear());
          format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
          format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
          format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));
          format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
          format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
          if (format.match(/S/g)) {
            var milliSeconds = ('00' + date.getMilliseconds()).slice(-3);
            var length = format.match(/S/g).length;
            for (var i = 0; i < length; i++) format = format.replace(/S/, milliSeconds.substring(i, i + 1));
          }
          return format;
        };
</script>
</body>
</html>