<html>
<head>
  <meta charset="UTF-8">
  <title>Upload</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Upload Image</h1>
    </div>
    <form role="form" action="/uploader" enctype="multipart/form-data" method="post">
      <input type="hidden" name="user_id" value="{{.UserData.user_id}}" />
      <div class="form-group">
        <label for="message">Select File</label>
        <input type="file" name="avatarFile" />
      </div>
      <input type="submit" value="Upload" class="btn">
    </form>
  </div>
</body>
</html>